<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hitch.hitch">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="false"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Activity.HomeActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity.LoginActivity" />
        <activity android:name=".Activity.SignUpActivity" />
        <activity android:name=".Activity.ProfileDetailActivity" />
        <activity android:name=".Activity.AboutDetailActivity" />
        <activity android:name=".Activity.EducationalDetailActivity" />
        <activity android:name=".Activity.WorkDetailActivity" />
        <activity android:name=".Activity.FinishDetailActivity" />
        <activity android:name=".Activity.SplashActivity" />
        <activity android:name=".Activity.UserProfileActivity" />
        <activity android:name=".Activity.SearchActivity" />
        <activity android:name=".Activity.NotificationActivity" />
        <activity android:name=".Activity.FullScreenImageActivity" />
        <activity android:name=".Activity.AccountSettingActivity" />
        <activity android:name=".Activity.EditProfileActivity" />
        <activity
            android:name=".Activity.Status"
            android:theme="@style/Theme.AppCompat.Translucent" />
        <activity android:name=".Activity.ShareActivity" />
        <activity android:name=".Activity.NextShareActivity"></activity>
    </application>

</manifest>